@font-face {
    font-family: 'Poppins';
    src: url(../fonts/Poppins-Black.ttf) format('truetype');
    font-weight: 900;
}

@font-face {
    font-family: 'Poppins';
    src: url(../fonts/Poppins-ExtraBold.ttf) format('truetype');
    font-weight: 800;
}

body {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: #61462B;
}

.cabecalho {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    background-color: #61462B;
    padding: 5px;
    position: sticky;
    top: 0;
    z-index: 1000;
}

a {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s, width 0.3s, height 0.3s;
}

a:hover {
    width: 80px;
    height: 50px;
    background-color: #613C2B;
}

.home {
    width: 80px;
    height: 50px;
    border: solid 3px #61332B;
}

.content {
    width: 100%;
    height: 500px;
    display: flex;
    background-image: url(../imagens/dogs.jpg);
    background-size: cover;
    background-position: center 20%;
}

.texto {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.363);
}

#texto {
    width: 500px;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.623);
    border-radius: 30px;
    padding: 10px;
}

h1 {
    font-family: 'Poppins';
    font-size: 24px;
    font-weight: 800;
    text-decoration: underline;
}

p {
    font-family: 'Poppins';
    font-size: 15px;
    font-weight: 400;
}

.info {
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 767px) {
    .cabecalho {
        flex-direction: column;
        gap: 20px;
        height: auto;
    }

    a {
        font-size: 20px;
    }

    #texto {
        width: 90%;
        height: auto;
    }

    #info{
        width: auto;
    }
}

.info{
    display: flex;
    gap: 50px;
}

#info{
    width: 250px;
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.623);
    border-radius: 30px;
    padding: 10px;
}

.about{
    width: 100vw;
    height: 70vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.cats{
    width: 400px;
    height: 500px;
    background-image: url('../imagens/cats.png');
    background-size: 350px;
    background-repeat: no-repeat;
    background-position: center;
}

#about{
    width: 600px;
    font-family: 'Poppins';
    color: white;
}

form{
    width: 100vw;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: white;
    flex-direction: column;
    gap: 20px;
}

input{
    font-size: 24px;
}

#label{
    display: flex;
    flex-direction: column;
}